<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

		<link href="/css/bootstrap.cerulean.min.css" rel="stylesheet" type="text/css"/>
		<script src="/js/jquery-1.7.1.js"></script>
        <script src="/js/jquery.transit.min.js"></script>
		<script src="/js/google_analytics.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/underscore.js"></script>
		<script src="/js/backbone/backbone.js"></script> 
		
		<script>
		_.templateSettings = {
			escape		: /<\?-([\s\S]+?)\?>/g,
			evaluate	: /<\?([\s\S]+?)\?>/g,
			interpolate : /<\?=([\s\S]+?)\?>/g
		};
		Backbone.sync = function(method, model) {
			alert(method + ": " + JSON.stringify(model));
		};
		</script>
		
		
		<script src="/js/models/image_objet.js"></script>
		<script src="/js/models/collage.js"></script>
		<script src="/js/views/image_objet.js"></script>
		<script src="/js/views/collage.js"></script>
		
		<script src="/socket.io/socket.io.js"></script>
		<title>Collage</title>
    	<script>
			var socket = null;
	        function connectWS() {
	            if (socket == null) {
	                socket = io.connect();
	                socket.on("connect", function() {
	                    socket.emit("joinRoom",{collage:"<%=collage._id%>"});
	                });
	                socket.on('message', function(data) {});
	                socket.on('disconnect', function() {});
	            
					socket.on("imageObjet.create",function(data){
						$(".collage").append(JSON.stringify(data));
					});
				}
	            socket.socket.connect();
	        }
			$(function(){
				connectWS();
				
				var collage = <%-JSON.stringify(collage)%>;
				var collectionView = new CollageView({
					model : new Collage(collage)
				});
			});
		</script>
		<style>
			.collage{
			
			}
		</style>
	</head>
	
    <body>
		<div class="navbar">
			<div class="navbar-inner">
		  		<a class="brand" href="#"><%=collage.name%></a>
		  	</div>
		</div>
		<div class="collage">
		</div>
	</body>
</html>