<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

		<link href="/css/bootstrap.cerulean.min.css" rel="stylesheet" type="text/css"/>
		<!--script src="/js/jquery-1.7.1.js"></script-->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="/js/jquery.transit.min.js"></script>
		<script src="/js/google_analytics.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/underscore.js"></script>
		<script src="/js/backbone/backbone.js"></script> 
		<script>
		_.templateSettings = {
			escape		: /<\?-([\s\S]+?)\?>/g,
			evaluate	: /<\?([\s\S]+?)\?>/g,
			interpolate : /<\?=([\s\S]+?)\?>/g
		};
		
		Backbone.sync = function(method, model) {
			//alert(method + ": " + JSON.stringify(model));
			//console.log(model);
			socket.emit(model.modelName + ".update",model.toJSON());
		};
		
		</script>
		<script src="/js/models/link_objet.js"></script>
		<script src="/js/models/image_objet.js"></script>
		<script src="/js/models/collage.js"></script>
		
		<script src="/js/views/link_objet.js"></script>
		<script src="/js/views/image_objet.js"></script>
		<script src="/js/views/collage.js"></script>
		
		<script src="/socket.io/socket.io.js"></script>
		<title>Collage</title>
    	<script>
			var socket = null;
	        function connectWS() {
	            if (socket == null) {
	                socket = io.connect();
	                socket.on("connect", function() {
	                    socket.emit("joinRoom",{collage:"<%=collage._id%>"});
	                });
	                socket.on('message', function(data) {});
	                socket.on('disconnect', function() {});
	  			}
	            socket.socket.connect();
	        }
			$(function(){
				connectWS();
				
				var collage = <%-JSON.stringify(collage)%>;
				window.collageView = new CollageView({
					model : new Collage(collage)
				});
				window.collageView.registerWSEvents(socket);
			});
			
			function test_image(){
				socket.emit("ImageObjet.create",{
					image : $("#test_input").val(),//"http://www.naver.com",
					position : {x:500 * Math.random(),y:500 * Math.random()},
					size : {width:200,height:200}
				});
			}
			function test_link(){
				socket.emit("LinkObjet.create",{
					link : $("#test_input").val(),//"http://www.naver.com",
					position : {x:500 * Math.random(),y:500 * Math.random()},
					size : {width:200,height:200}
				});
			}
		</script>
		<style>
			.collage{
			
			}
			.collage .image-objet{
				position:absolute;
			}
			.collage .image-objet img{
				width:100%;
				height:100%;
			}
			.collage .link-objet {
				 position:absolute; 
			 }
			.collage .link-objet iframe{
				border:0;
				width:100%;
				height:100%;
			}
		</style>
	</head>
	
    <body>
		<div class="navbar">
			<div class="navbar-inner">
		  		<a class="brand" href="#"><%=collage.name%></a>
		  	</div>
		</div>
		<div class="collage">
			<div class="dev-pannel">
				<input type="text" id="test_input" />
				<button class="btn" onclick="test_image();">new image</button>
				<button class="btn" onclick="test_link();">new link</button>
			</div>
		</div>
	</body>
</html>